#header .firstsection{
    margin-top: 10rem;
    display:flex;
    justify-content: space-between;
}
.left{
    margin:1.5rem 0 0 3rem;
    
    
    
}
.right{
   width: 50%;
   justify-content: center;
   margin:-5rem 0 0 7rem;
   margin-left:0 ;
   padding: 0 0 0 0;
   }#image-bdy{
    width: 90%;
    padding-right:40px;
    
   }


.firstsection p{
    font-size: 2rem;
    }span{
        font-weight: 600;
        color: red;
    }

#element{
    color:rgb(199 218 49);
}